@model RentACar.Models.MyAccountViewModel

@{
    ViewData["Title"] = "My Account";
}

<h2>My Account</h2>
<div class="form-group">
    <label class="font-weight-bold">Email:</label>
    <p>@Model.Email</p>
</div>
<!-- Add other user information as needed -->
