<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent-a-Car</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--<header>
        <div class="container">
            <a href="/" class="logo">Rent-a-Car</a>
        </div>
    </header> -->
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Rent-a-Car. All Rights Reserved.</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>