<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent-a-Car</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a href="/" class="logo">Home</a>
            </div>
            <div>
                @{
                    var isAuthenticated = User.Identity.IsAuthenticated;
                }
                <div>
                    @if (isAuthenticated)
                    {
                        <a href="/Account/MyAccount" class="auth-link">My Account</a>
                        <form asp-controller="Account" asp-action="Logout" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-link auth-link">Log Out</button>
                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Register" class="auth-link">Register</a>
                        <a asp-area="Identity" asp-page="/Account/Login" class="auth-link">Log In</a>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Rent-a-Car. All Rights Reserved.</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
